/*
#ordered-list #unordered-list  #description-list
*/
* {
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
}
body {
  height: 100svh;
  width: 100svw;
  background-color: burlywood;
}
header {
  background-color: brown;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav {
  height: 90px;
  width: 50%;
  /* border: solid yellow 5px; */
}
nav ul {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul li {
  list-style-type: none;
  background-color: rgb(193, 192, 192);
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgb(73, 72, 72);
}
a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: white;
}
a:hover {
  color: aqua;
  /* font-size: 28px; */
  cursor: grab;
  /* height: 35px;
  width: 110px; */
}
nav ul li:hover {
  height: 35px;
  width: 110px;
}
a:active {
  color: green;
  cursor: grabbing;
}
nav ul li:active {
  box-shadow: inset 1px 1px 5px 1px;
}
main {
  background-color: chocolate;
  height: 80%;
  width: 80%;
  margin: 0px auto;
  padding: 30px 0px;
}
section {
  background-color: rgb(189, 187, 187);
  height: 90%;
  width: 90%;
  margin: 0px auto;
}
article {
  height: 150px;
  width: 300px;
  margin: 0px auto;
  /* overflow: hidden; */
}
#ordered-list {
  border: 5px solid green;
}
#unordered-list {
  border: 5px solid blue;
}
#description-list {
  border: 5px solid red;
}
li {
  font-size: 20px;
}
ol li {
  list-style-type: upper-roman;
}
ul li {
  list-style-type: disc;
}
dt {
  font-weight: 600;
}
dd {
  font-style: italic;
}
