/*
#ordered-list #unordered-list  #description-list
*/
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100svh;
  width: 100svw;
  background-color: burlywood;
}
header {
  background-color: brown;
  height: 80px;
}
main {
  background-color: chocolate;
  height: 80%;
  width: 80%;
  margin: 0px auto;
  padding: 30px 0px;
}
section {
  background-color: rgb(189, 187, 187);
  height: 90%;
  width: 90%;
  margin: 0px auto;
}
article {
  height: 150px;
  width: 300px;
  margin: 0px auto;
}
#ordered-list {
  border: 5px solid green;
}
#unordered-list {
  border: 5px solid blue;
}
#description-list {
  border: 5px solid red;
}
li {
  font-size: 20px;
}
ol li {
  list-style-type: upper-roman;
}
